<!DOCTYPE html>
<html>
  <title>Habrator</title>
    <head>
    <link rel="stylesheet" href="static/habr.css">
    <script type="text/javascript" src="static/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="static/underscore.js"></script>
    <script type="text/javascript" src="static/backbone.js"></script>
    <script type="text/javascript" src="static/app.js"></script>
    <script type="text/template" id="post_template">
      <div class="item">
      <a href="<%= url%>"><%= title %><a>
      </div>
    </script>
  </head>
  <body>
    <div class="logo">Habrator</div>
    <div class="container-main">
    </div>
  </body>
</html>
